// 颜色定义规范
$color-background = #f33
$color-theme = black
$not-important = #797a7b
$default-text = #666
$light-border = #e7e9e9


//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px