// 颜色定义规范
$color-background = #d93f30
$list-background = #f2f4f5
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = black
$color-theme-d = #black
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = black
$color-text-ll = rgba(255, 255, 255, 0.8)
$not-important = #797a7b
//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px